# Unreal Engine generated directories
Binaries/
DerivedDataCache/
Intermediate/
Saved/

# Generated directories inside plugins
Plugins/**/Binaries/
Plugins/**/Intermediate/

# Visual Studio
.vs/
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb

# Compiled files
*.obj
*.pch
*.dll
*.lib
*.exe
*.pdb
*.exp

# Rider / JetBrains
.idea/
*.sln.iml

# VS Code
.vscode/

# Operating system files
.DS_Store
Thumbs.db
Desktop.ini